

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.dashboard_left{
    flex: 0 0 400px; /* Fixed width */
}
.dashboard_right{
    flex: 1; /* Takes all remaining space */
    overflow-y: auto; /* Add scrollbar only to this section if needed */
}

.dashboard_left_panel{
    width: 400px;
    height: 100vh;
    background-color: #5F5F5F;
    position: fixed;
    left: 0;
    top: 0;
}
.dashboard_left_panel_user{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 100px;
 
}
.dashboard_left_panel_user_image{
    width: 200px;
    height: 200px;
    background-color: #343434;
    border-radius: 100px;
}
.dashboard_left_panel_user_image_profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}
.dashboard_left_panel_user_identity{
    width: 250px;
    height: 100px;
    background-color: #343434;
    margin-top: 25px;
    border-radius: 5px;
    text-align: center;
    color: white;
}
.dashboard_left_panel_user_identity_name{
    font-size: 18px;
    margin-top: 10px;
}
.dashboard_left_panel_user_identity_role{
    font-size: 12px;
    margin-top: 5px;
}
.dashboard_left_panel_user_identity_company{
    font-size: 16px;
    font-weight: bolder;
    margin-top: 10px;
}
.dashboard_left_panel_connect{
    width: 335px;
    margin: 25px auto;
}
.dashboard_left_panel_connect_input{
    width: 100%;
    height: 50px;
    background-color: #6D6D6D;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
}
.dashboard_left_panel_connect_input_link{
    width: 285px;
    height: 100%;
    padding: 0 25px;
    font-size: 16px;
}
.dashboard_left_panel_connect_input_button{
    width: 50px;
    height: 100%;
    background-color: #484848;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.dashboard_left_panel_connect_input_button:hover{
    cursor: pointer;
}
.dashboard_left_panel_connect_input_button-active{
    color: #83CB97;
}
.dashboard_left_panel_connect_button{
    display: block;
    width: 150px;
    height: 50px;
    background-color: #484848;
    margin: 55px auto;
    border-radius: 5px;
    border: unset;
    color: white;
    font-size: 18px;
}
.dashboard_left_panel_connect_button:hover{
    cursor: pointer;
}

.dashboard_update{
    width: 100%;
    position: relative;
}
.dashboard_update_buttons{
    width: 100%;
    height: 100px;
    background-color: #5E5959;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.dashboard_update_buttons_button{
    min-width: 50px;
    height: 45px;
    background-color: #222222;
    color: white;
    margin: 0 25px;
    padding: 0 25px;
    line-height: 45px;
    font-weight: bolder;
    border-radius: 5px;
}
.dashboard_update_buttons_button:hover{
    cursor: pointer;
}
.dashboard_update_buttons_button-active{
    background-color: #387AB8;
}

.dashboard_update_display{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.dashboard_update_display_card{
    width: 1230px;
    margin-top: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
 
}
.dashboard_update_display_card:last-child{
    margin-bottom: 150px;
}
.dashboard_update_display_card_platform{
    height: 40px;
    padding: 0 25px;
    background-color: #387AB8;
    line-height: 40px;
    color: white;
    font-weight: bolder;
}
.dashboard_update_display_card_details{
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}
.dashboard_update_display_card_details_profile{
    height: 100px;
    width: 1170px;
    border-bottom: 2px solid white;
    margin-top: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.dashboard_update_display_card_details_profile_user{
    display: flex;
    flex-flow: row nowrap;
}
.dashboard_update_display_card_details_profile_user_image{
    background-color: white;
    width: 85px;
    height: 85px;
    border-radius: 50px;
}
.dashboard_update_display_card_details_profile_user_image_url{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.dashboard_update_display_card_details_profile_user_text{
    margin-left: 10px; 
    color: white;
}
.dashboard_update_display_card_details_profile_user_text_maintext{
    font-weight: bolder;
    font-size: 16px;
    margin-top: 20px;
}
.dashboard_update_display_card_details_profile_user_text_subtext{
    font-size: 12px;
}
.dashboard_update_display_card_details_profile_button{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
}
.dashboard_update_display_card_details_text{
    width: 1170px;
    margin: 25px 0;
    color: white;
    font-size: 16px;
}
.dashboard_update_display_card_details_pictures{
    width: 1170px;
    height: 400px;
 
    display: flex;
    flex-flow: row nowrap;
}
.dashboard_update_display_card_details_pictures_frame{
    width: 1000px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.dashboard_update_display_card_details_pictures_frame_picture{
    width: 250px;
    height: 100%;
    border: 1px solid white;
}
.dashboard_update_display_card_details_pictures_frame_picture:hover{
    cursor: pointer;
}
.dashboard_update_display_card_details_pictures_frame_picture_url{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dashboard_update_display_card_details_pictures_more{
    width: 170px;
    height: 100%;
    border: 1px solid white;
    background-color: grey;
    font-size: 50px;
    line-height: 400px;
    text-align: center;
    color: white;
}
.dashboard_update_display_card_details_pictures_more:hover{
    cursor: pointer;
}

.dashboard_update_display_card_details_buttons{
    height: 40px;
    width: 1170px;
    margin-top: 25px;
}
.dashboard_update_display_card_details_buttons_button{
    padding: 0 25px;
    height: 40px;
    background-color: #6A97A0;
    border: unset;
    margin-right: 55px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}
.dashboard_update_display_card_details_buttons_button:hover{
    cursor: pointer;
}

.dashboard_update_display_card_details_comments{
    width: 100%;
    margin-top: 25px;
}
.dashboard_update_display_card_details_comments_comment{
    width: 100%;
    min-height: 125px;
    background-color: #4B4C5F;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px solid white;
}
.dashboard_update_display_card_details_comments_comment_connect{
    width: 125px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
}
.dashboard_update_display_card_details_comments_comment_connect_box{
    width: 50%;
    height: 50%;
}
.dashboard_update_display_card_details_comments_comment_connect_box-1{
    border-right: 2px solid black;
}
.dashboard_update_display_card_details_comments_comment_connect_box-2{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.dashboard_update_display_card_details_comments_comment_connect_box-3{
    border-right: 2px solid black;
}
.dashboard_update_display_card_details_comments_comment_connect_box-4{
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.dashboard_update_display_card_details_comments_comment_profile{
    height: 125px;
    flex: 0 0 125px; /* Fixed width */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.dashboard_update_display_card_details_comments_comment_profile_image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.dashboard_update_display_card_details_comments_comment_profile_image_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.dashboard_update_display_card_details_comments_comment_details{
    flex: 1; /*grow to fit*/
    color: white;
}
.dashboard_update_display_card_details_comments_comment_details_name{
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}
.dashboard_update_display_card_details_comments_comment_details_text{
    width: 60%;
    min-height: 50px;
    font-size: 16px;
    padding: 5px 15px;
    background-color: #414253;
    border-radius: 2px;
  
}
.dashboard_update_display_card_details_comments_comment_details_functions{
    max-width: 300px;
    height: 25px;
    margin-top: 5px;
    font-size: 12px;
    background-color: #414253;
    border-radius: 2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
.dashboard_update_display_card_details_comments_comment_details_functions_button{
    height: 100%;
    border: unset;
    background-color: transparent;
    color: white;
    font-size: 12px;
    padding: 0 10px;
}
.dashboard_update_display_card_details_comments_comment_details_functions_button-bold{
    font-weight: bolder;
}
.dashboard_update_display_card_details_comments_comment_details_functions_button:hover{
    cursor: pointer;
}